
<div class="login">
  
  <div class="login__card">
    <div class="login__card-body">

      <form class="login__login-form" 
            autocomplete="off"
            (ngSubmit)="createUser()"
            [formGroup]="registerForm">

        <a class="login__logo">
          <img class="login__logo-img" 
               [src]="'/assets/images/icons/healthcare-icon.png'" 
               [alt]="'Admin logo'">

          <img class="login__logo-text" [src]="'/assets/images/logo/logo-text.png'" 
          alt="adminPro">
        </a>

        <h3 class="login__h3">{{'Register Now' | translate}}</h3>
        <small class="login__small">{{'Create your account and enjoy' | translate}}</small>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" 
                   type="text" 
                   [placeholder]=" 'Name' |translate "
                   formControlName="name">

            <p *ngIf="isRequired('name')" class="login__input-error">{{'name required' | translate}}</p>
            <p *ngIf="minLength('name')" class="login__input-error">{{'name should be at last 3 letters' | translate}}</p>

          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" 
                   type="text" 
                   [placeholder]=" 'Last name' |translate " 
                   formControlName="lastName">

            <p *ngIf="isRequired('lastName')" class="login__input-error">{{'lastName required' | translate}}</p>
            <p *ngIf="minLength('lastName')" class="login__input-error">{{'lastName should be at last 3 letters' | translate}}</p>
          
          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" 
                   type="email" 
                   [placeholder]=" 'Email' |translate " 
                   formControlName="email">

            <p *ngIf="isRequired('email')" class="login__input-error">{{'email required' | translate}}</p>
            <p *ngIf="isEmail()" class="login__input-error">{{'valid email required' | translate}}</p>

          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" 
                   type="password" 
                   [placeholder]=" 'Password' |translate " 
                   formControlName="password">

            <p *ngIf="isRequired('password')" class="login__input-error">{{'password required' | translate}}</p>
            <p *ngIf="minLength('password')" class="login__input-error">{{'password must be at least 6 characters' | translate}}</p>

          </div>
        </div>

        <div class="login__form-group login__form-group--confirm">
          <div class="login__input-group">
            <input class="login__input" 
                   type="password" 
                   [placeholder]=" 'Confirm Password' |translate " 
                   formControlName="password2">

            <p *ngIf="isRequired('password2')" class="login__input-error">{{'confirm password required' | translate}}</p>
            <p *ngIf="password2Match()" class="login__input-error">{{'password missmatched' | translate}}</p>

          </div>
        </div>

        <div class="login__form-group">
          <div class="login__check-group">

            <div (click)="setActive()" class="login__input-check">
              <input id="checkbox-signup" 
                     class="login__checkbox"
                     [ngClass]="{'login__checkbox--checked': active}"
                     type="checkbox"
                     formControlName="terms">
                     
              <label class="login__label-checkbox">{{'I agree to all' | translate}}</label>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="login__check-svg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
              </svg>
   
            </div>
            
            <a class="login__terms-link">{{'Terms' | translate}}</a>

            <p *ngIf="isRequired('terms')" 
               class="login__input-error login__input-error--checkbox">
              {{'you must accept the terms' | translate}}
            </p>

          </div>
        </div>

        <div class="login__form-group login__form-group--submit">
          <button [disabled]="registerForm.invalid" type="submit" class="login__submit-btn">{{'SIGN UP' | translate}}</button>
        </div>

        <div class="login__form-group">
          <div class="login__have-account">
            <span class="login__have-account-span">{{'Already have an account?' | translate}}</span>
            <a [routerLink]="['/login']" class="login__link-signup">
              {{'Sign In' | translate}}
            </a>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
