@import 'mixins';

/* ----- LOGIN ----- */

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/background/health-insurance-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__card {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    border-left: 1px solid #E9EDF2;
  }

  &__card-body {
    padding: 25px;
    height: 100%;
  }

  /* ----- FORM ----- */

  &__login-form {
    color: #67757c;
  }

  &__logo {
    margin-bottom: 45px;

    @include flex(column, nowrap, center, center);
    gap: 7px;
  }

  &__logo-img {
    width: 40px;
    height: 40px;
  }

  &__logo-text {
    width: 108px;
  }

  &__h3 {
    font-size: 21px;
  }

  &__small {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__form-group {
    margin-bottom: 25px;

    &--submit {
      margin-top: 50px;
      margin-bottom: 27px;
    }

    &--confirm {
      margin-bottom: 30px;

    }
  }

  &__input-group {
    position: relative;
    width: 100%;

    &:focus-within::before {
      content: "";
      position: absolute;
      top: 97%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #398bf7;
    }
  }

  &__input-error {
    position: absolute;
    top: 34px;
    left: 0;
    color: tomato;
    font-size: 14px;
    font-style: italic;

    &--checkbox {
      top: 20px;
    }
  }
  

  &__input {
    width: 100%;
    min-height: 37px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #67757c;
    border-bottom: 1px solid #E9EDF2;
    background-color: #FFFFFF;
  }

  &__check-group {
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 22px;

    @include flex(row, nowrap, flex-start, center);
  }

  &__input-check {
    position: relative;

    @include flex(row, nowrap, flex-start, center);
  }

  &__checkbox {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin: 0;
    margin-right: 6px;
    border: 1px solid #B1B8BB;
    cursor: pointer;
    transition: all .3s ease;

    &--checked {
      background-color: #00A8F1;
      border: #00A8F1;
    }
  }

  &__label-checkbox {
    white-space: nowrap;
    cursor: pointer;
  }

  &__check-svg {
    position: absolute;
    top: 1px;
    left: -1px;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__terms-link {
    display: inline;
    margin-left: 5px;
    color: #0079FB;
    cursor: pointer;
  }

  &__submit-btn {
    width: 100%;
    padding: 15px 30px;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    background: #398bf7;
    border: 1px solid #398bf7;
    border-radius: 0.3rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__have-account {
    padding: 0 15px;

    @include flex(row, wrap, space-between, center);
  }

  &__have-account-span {
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
  }

  &__link-signup {
    font-size: 20px;
    white-space: nowrap;
    color: #A057EE;
    cursor: pointer;
  }
}

// chrome remove autocomplete highlight
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* ----- IF BUTTON DISABLED ----- */

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* ----- PLACEHOLDER COLOR ----- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #babdbf;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #babdbf;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #babdbf;
}