
<div class="login">
  
  <div class="login__card">
    <div class="login__card-body">

      <form class="login__login-form" autocomplete="off">

        <a class="login__logo">
          <img class="login__logo-img" 
               [src]="'/assets/images/logo/logo-icon.png'" 
               [alt]="'Admin logo'">

          <img class="login__logo-text" [src]="'/assets/images/logo/logo-text.png'" 
          alt="adminPro">
        </a>

        <h3 class="login__h3">Register Now</h3>
        <small class="login__small">Create your account and enjoy</small>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" type="text" placeholder="Name" autocomplete="off">
          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" type="text" placeholder="Last name" autocomplete="off">
          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" type="text" placeholder="Email" autocomplete="off">
          </div>
        </div>

        <div class="login__form-group">
          <div class="login__input-group">
            <input class="login__input" type="password" placeholder="Password" autocomplete="off">
          </div>
        </div>

        <div class="login__form-group login__form-group--confirm">
          <div class="login__input-group">
            <input class="login__input" type="password" placeholder="Confirm Password" autocomplete="off">
          </div>
        </div>

        <div class="login__form-group">
          <div class="login__check-group">

            <div (click)="setActive()" class="login__input-check">
              <input id="checkbox-signup" 
                     class="login__checkbox"
                     [ngClass]="{'login__checkbox--checked': active}"
                     type="checkbox">
                     
              <label (click)="setActive()" for="checkbox-signup" class="login__label-checkbox"> I agree to all </label>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="login__check-svg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
              </svg>
            </div>

            <a class="login__terms-link">Terms</a>

          </div>
        </div>

        <div class="login__form-group login__form-group--submit">
          <button type="button" class="login__submit-btn">SIGN UP</button>
        </div>

        <div class="login__form-group">
          <div class="login__have-account">
            <span class="login__have-account-span">Already have an account?</span>
            <a class="login__link-signup">
              Sign In
            </a>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
