<div class="modal" [ngClass]="{'modal--active': active}">
  <div class="modal__content">

    <div class="modal__header">
      <h4>{{ 'Load image' | translate }}</h4>
      <button class="modal__btn-close" 
              (click)="closeModal()">
        <svg class="modal__svg-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
      </button>
    </div>

    <div class="modal__body">
      <h3 class="modal__h3">{{ 'Select image' | translate }}</h3>
      <div class="modal__img-container">
        <img *ngIf="!imageTemp" class="modal__img" [src]="data?.image" alt="User photo">
        <!-- si existe imageTemp solo se vera esa -->
        <img *ngIf="imageTemp" class="modal__img" [src]="imageTemp" alt="User photo">
      </div>

      <input class="modal__input-file" 
             type="file"
             #fileInput
             (change)="changeImage($event)">
    </div>

    <div class="modal__footer">

      <button class="modal__btn" 
              (click)="closeModal()">
            {{ 'Cancel' | translate }}
      </button>

      <button class="modal__btn modal__btn--update"
              [disabled]="!disabled"
              (click)="updateImage()">
            {{ 'Update' | translate }}
      </button>
      
    </div>

  </div>
</div>
