<aside appClickInside 
       class="sidebar" 
       [ngClass]="{'sidebar--active': active, 
                   'sidebar--inactive': !active,
                   'sidebar--side': sideMenu >= 0}">
  
  <div class="sidebar__scroll">
    <nav class="sidebar__nav">
      <ul class="sidebar__ul">

        <li (mouseover)="showSideMenu(0)" (mouseout)="hideSideMenu()" class="sidebar__li">
          <a (click)="setPosition(0)" 
             class="sidebar__link"
             [ngClass]="{'sidebar__link--active': position === 0,
                         'sidebar__link--show': active,
                         'sidebar__link--hide': !active,
                         'sidebar__link--side': sideMenu === 0}">
            <img class="sidebar__img" [src]="'/assets/images/users/user1.jpg'" [alt]="'User photo'">
            <span class="sidebar__span" 
                  [ngClass]="{'sidebar__span--show': active, 'sidebar__span--hide': !active}">
              juan fernandez
            </span>
            <svg class="sidebar__svg" 
                 [ngClass]="{'sidebar__svg--active': position === 0, 'sidebar__svg--show': active, 'sidebar__svg--hide': !active}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>

            <!-- ul absolute -->
            <ul class="sidebar__ul-profile-absolute" 
                [ngClass]="{'sidebar__ul-profile-absolute--show': sideMenu === 0}">

                <span class="sidebar__span-absolute">
                  juan fernandez
                </span>
                <li class="sidebar__li-profile">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Mi Perfil</a>
                </li>
                <li class="sidebar__li-profile sidebar__li-profile--absolute">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Configuración</a>
                </li>
                <li class="sidebar__li-profile">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Cerrar sesión</a>
                </li>
            </ul>
            <!-- end ul absolute -->
          </a>

          <ul class="sidebar__ul-profile" 
              [ngClass]="{'sidebar__ul-profile--active': position === 0,
                          'sidebar__ul-profile--show': active,
                          'sidebar__ul-profile--hide': !active}">
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Mi Perfil</a>
            </li>
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Configuración</a>
            </li>
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Cerrar sesión</a>
            </li>
          </ul>

        </li>

        <li class="sidebar__nav-divider"></li>

        <li (mouseover)="showSideMenu(1)" (mouseout)="hideSideMenu()" class="sidebar__li">
          <a (click)="setPosition(1)" 
             class="sidebar__link"
             [ngClass]="{'sidebar__link--active': position === 1,
                         'sidebar__link--show': active,
                         'sidebar__link--hide': !active,
                         'sidebar__link--side': sideMenu === 1}">

            <div class="sidebar__svg-container"
                 [ngClass]="{'sidebar__svg-container--show': active, 
                             'sidebar__svg-container--hide': !active}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="sidebar__link-svg" viewBox="0 0 16 16">
                <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
              </svg>
            </div>

            <span class="sidebar__span" 
                  [ngClass]="{'sidebar__span--show': active, 'sidebar__span--hide': !active}">
                  Dashboard
            </span>

            <span class="sidebar__span-quantity"
                  [ngClass]="{'sidebar__span-quantity--show': active, 
                              'sidebar__span-quantity--hide': !active}">
              1
            </span>

            <svg class="sidebar__svg" 
                 [ngClass]="{'sidebar__svg--active': position === 1, 'sidebar__svg--show': active, 'sidebar__svg--hide': !active}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>

            <!-- ul absolute -->
            <ul class="sidebar__ul-profile-absolute" 
                [ngClass]="{'sidebar__ul-profile-absolute--show': sideMenu === 1}">

                <span class="sidebar__span-absolute">
                  Dashboard
                </span>

                <li class="sidebar__li-profile">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Main</a>
                </li>
            </ul>
            <!-- end ul absolute -->
          </a>

          <ul class="sidebar__ul-profile" 
              [ngClass]="{'sidebar__ul-profile--active': position === 1,
                          'sidebar__ul-profile--show': active,
                          'sidebar__ul-profile--hide': !active}">
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Main</a>
            </li>
          </ul>

        </li>

        <li (mouseover)="showSideMenu(2)" (mouseout)="hideSideMenu()" class="sidebar__li">
          <a (click)="setPosition(2)" 
             class="sidebar__link"
             [ngClass]="{'sidebar__link--active': position === 2,
                         'sidebar__link--show': active,
                         'sidebar__link--hide': !active,
                         'sidebar__link--side': sideMenu === 2}">

             <div class="sidebar__svg-container"
                  [ngClass]="{'sidebar__svg-container--show': active, 
                              'sidebar__svg-container--hide': !active}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="sidebar__link-svg" viewBox="0 0 16 16">
                <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
              </svg>
             </div>

            <span class="sidebar__span" 
                  [ngClass]="{'sidebar__span--show': active, 'sidebar__span--hide': !active}">
                  Mantenimientos
            </span>

            <span class="sidebar__span-quantity"
                  [ngClass]="{'sidebar__span-quantity--show': active, 
                              'sidebar__span-quantity--hide': !active}">
              3
            </span>

            <svg class="sidebar__svg" 
                 [ngClass]="{'sidebar__svg--active': position === 2, 'sidebar__svg--show': active, 'sidebar__svg--hide': !active}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>

            <!-- ul absolute -->
            <ul class="sidebar__ul-profile-absolute" 
                [ngClass]="{'sidebar__ul-profile-absolute--show': sideMenu === 2}">

                <span class="sidebar__span-absolute">
                  Mantenimientos
                </span>

                <li class="sidebar__li-profile">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Usuarios</a>
                </li>
                <li class="sidebar__li-profile sidebar__li-profile--absolute">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Hospitales</a>
                </li>
                <li class="sidebar__li-profile sidebar__li-profile--absolute">
                  <a class="sidebar__profile-link sidebar__profile-link--absoute">Médicos</a>
                </li>
            </ul>
            <!-- end ul absolute -->
          </a>

          <ul class="sidebar__ul-profile" 
              [ngClass]="{'sidebar__ul-profile--active': position === 2,
                          'sidebar__ul-profile--show': active,
                          'sidebar__ul-profile--hide': !active}">
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Usuarios</a>
            </li>
            <li class="sidebar__li-profile">
              <a class="sidebar__profile-link">Hospitales</a>
            </li>
            <li class="sidebar__li-profile sidebar__li-profile--absolute">
              <a class="sidebar__profile-link">Médicos</a>
            </li>
          </ul>

        </li>

      </ul>
    </nav>
  </div>

</aside>
