
<div class="breadcrumbs">
  <div class="breadcrumbs__col-left">
    <h3 class="breadcrumbs__h3" [style]="{'color' : theme.header}">{{ title | translate }}</h3>
  </div>

  <div class="breadcrumbs__col-right">
    <ol class="breadcrumbs__ol">
      <li class="breadcrumbs__li">
        <a href="#">{{ 'Home' | translate }}</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="breadcrumbs__svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </li>
      <li class="breadcrumbs__li">
        <span>{{ 'page' | translate }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="breadcrumbs__svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </li>
      <li class="breadcrumbs__li">
        <span class="breadcrumbs__span-2">{{ title | translate }}</span>
      </li>
    </ol>
  </div>
</div>
