
<div class="dashboard">

  <div class="dashboard__card">
    <a class="dashboard__link" [routerLink]="['medics']">
      <img class="dashboard__img" 
           [src]="'/assets/images/dashboard/medic-care.png'" 
           alt="Medic picture">
    </a>
  </div>

  <div class="dashboard__card">  
    <a class="dashboard__link" [routerLink]="['hospitals']">
      <img class="dashboard__img" 
           [src]="'/assets/images/dashboard/hospital-blue.svg'" 
           alt="Hospital picture">
    </a>
  </div>

</div>